<ng-container>
  <div class="container-fluid">
      <div class="container" *ngIf="pokemons.length > 0">
        <mat-card *ngFor="let pokemon of pokemons" class="cosmog-black card-main poke-card" MatPaginatorIntl>
          <a routerLink="/{{pokemon.id}}">
            <img mat-card-sm-image src={{pokemon.sprites.front_default}} alt={{pokemon.species.name}}>
          </a>
          <mat-card-title>{{pokemon.species.name | titlecase}}</mat-card-title>
          <mat-card-subtitle>#{{pokemon.id}}</mat-card-subtitle>
          <mat-card-content>
            <span *ngFor="let type of pokemon.types" class="type {{type.type.name}}">
              {{type.type.name | titlecase}}
            </span>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
</ng-container>
