@import "src/styles.scss";

.card-main {
  margin: 30px;
  padding: 20px;
}

.type {
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
}

[mat-card-sm-image] {
  margin-bottom: 20px;
}

.poke-card {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $cosmog-navy;
}

.gym-leader-frame {
  color: $cosmog-black;
  padding: 10px;
  background-color: #FFF;
  border-radius: 5px;
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-card-content {
  p {
    margin-top: 10px;
  }
}
