/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$blue-gray-palette, 900);
$my-accent: mat.define-palette(mat.$grey-palette, 900);
$my-warn: mat.define-palette(mat.$red-palette, 800);

$dark-primary: mat.define-palette(mat.$gray-palette, 900);
$dark-accent: mat.define-palette(mat.$brown-palette, 900);
$dark-warn: mat.define-palette(mat.$red-palette, 800);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

$dark-theme: mat.define-light-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

@include mat.all-component-themes($my-theme);

html, body { min-height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.grass{
  background-color: #9BCC50;
}
.poison{
  background-color: #B97FC9;
}
.fire{
  background-color: #FD7D24;
}
.flying{
  background-color: #9AA9FF;
}
.water{
  background-color: #4592C4;
}
.normal{
  background-color: #A4ACAF;
}
.electric{
  background-color: #EED535;
}
.ground{
  background-color: #E2C56F;
}
.fairy{
  background-color: #FDB9E9;
}
.bug{
  background-color: #729F3F;
}
.dark{
  background-color: #8C6F61;
}
.dragon{
  background-color: #8C7DF1;
}
.fighting{
  background-color: #C56F61;
}
.ice{
  background-color: #7DD4FF;
}
.ghost{
  background-color: #7D7DC5;
}
.psychic{
  background-color: #FF6EA8;
}
.rock{
  background-color: #C5B77D;
}
.steel{
  background-color: #B7B7C5;
}

