.container {
  img {
    height: 150px;
    width: 150px;
    margin: 10px;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.poke-card {
  margin: 10px;
  background-color: #F2F2F2;
}

.type {
  padding: 10px;
  margin-right: 10px;
  color: #FFF;
  border-radius: 5px;
}

.btn-set {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
