.type {
  padding: 5px;
  margin-right: 10px;
  color: #FFF;
  border-radius: 5px;
  height: fit-content;
}
.mat-card {
  display: flex;
}
.info {
  div{
    margin-bottom: 10px;
  }
}
.ability {
  background-color: #999;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.container {
  min-height: 73vh;
}

table {
  width: 300px;
  background-color: lightgrey;
  border-radius: 5px;
  th, td {
    padding: 5px;
  }
  tr:hover {
    background-color: #999;
  }
  border: 1px;
}
